<app-progress *ngIf="dataLoading"></app-progress>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Customer List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item">Master Entry</li>
                <li class="breadcrumb-item active">Customer List</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">

                    <div class="card-body">
                        <!-- <h5 class="card-title">List Customer
                            <button class="btn btn-primary btn-sm" style="float: right;"
                                routerLink="/admin/Sell">New Sell</button>
                        </h5> -->

                        <div class="row">
                            <div class="dataTable-top">
                                <div class="dataTable-dropdown">
                                    <select class="dataTable-selector form-select form-select-sm"
                                        [(ngModel)]="itemPerPage">
                                        <option *ngFor="let option of pageSize" [value]="option">{{option}} </option>
                                    </select>
                                    entries per page
                                </div>

                                <div class="dataTable-search"><input
                                        class="dataTable-input form-control form-control-sm" [(ngModel)]="Search"
                                        placeholder="Search..." type="text"></div>
                            </div>
                            <div class="col-lg-12 table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <th>#</th>
                                        <th style="cursor: pointer;" (click)="sort('CustomerName')">Customer Name</th>
                                        <th style="cursor: pointer;" (click)="sort('MobileNo')">Contact No</th>
                                        <th style="cursor: pointer;" (click)="sort('GSTNo')">GSTIN</th>
                                        <th>Edit</th>
                                        <!-- <th>View Details</th>
                                        <th>Delete</th> -->
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let model of CustomerList|filter:Search|orderBy:sortKey:reverse|paginate: { itemsPerPage: itemPerPage, currentPage: p } ; let i = index">
                                            <td>{{(itemPerPage * (p -1)) +i+ 1}}</td>
                                            <td>{{model.CustomerName}}</td>
                                            <td>{{model.MobileNo}}</td>
                                            <td>{{model.GSTNo}}</td>


                                            <td>
                                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#modal_popUp" (click)="editCustomerList(model)">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            </td>
                                            <!-- <td>
                                                <button class="btn btn-sm btn-secondary" (click)="getPurchaseDetail(model)"><i
                                                        class="bi bi-card-text"></i> </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" (click)="deletePurchase(model)"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </td> -->
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <div class="dataTable-bottom">
                                <pagination-controls (pageChange)="onTableDataChange($event)" style="float: right;"
                                    class="my-pagination"></pagination-controls>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>


</main>

<div id="modal_popUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Edit Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm">
                    <div class="row">
                        <div class="row">

                            <!-- Customer Name -->
                            <div class="col-sm-6 form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" name="CustomerName"
                                    [(ngModel)]="selectedCustomer.CustomerName" required>
                                <small class="text-danger" *ngIf="!selectedCustomer.CustomerName">
                                    Customer name is required
                                </small>
                            </div>

                            <!-- Mobile No -->
                            <div class="col-sm-6 form-group">
                                <label>Mobile No</label>
                                <input type="text" class="form-control" name="MobileNo" maxlength="10"
                                    [(ngModel)]="selectedCustomer.MobileNo" required>
                                <small class="text-danger" *ngIf="!selectedCustomer.MobileNo">
                                    Mobile number is required
                                </small>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>GST No</label>
                                <input type="text" class="form-control" name="GSTNo"
                                    [(ngModel)]="selectedCustomer.GSTNo">
                            </div>

                            <!-- <div class="col-sm-6 form-group">
                                <label>Alternate No</label>
                                <input type="text" class="form-control" name="AlternateNo"
                                    [(ngModel)]="selectedCustomer.AlternateNo">
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="Email"
                                    [(ngModel)]="selectedCustomer.Email">
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>State Code</label>
                                <input type="text" class="form-control" name="StateCode"
                                    [(ngModel)]="selectedCustomer.StateCode">
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Full Address</label>
                                <textarea class="form-control" rows="3" name="FullAddress"
                                    [(ngModel)]="selectedCustomer.FullAddress">
                                  </textarea>
                            </div> -->

                            <!-- Status -->
                            <div class="col-sm-6 form-group">
                                <label>Status</label>
                                <select class="form-control" name="Status" [(ngModel)]="selectedCustomer.Status">
                                    <option [ngValue]="1">Active</option>
                                    <option [ngValue]="0">Inactive</option>
                                </select>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCustomerList()">{{selectedCustomer.CustomerId
                    >
                    0 ? 'Update':'Submit'}} changes</button>
            </div>

        </div>
    </div>
</div>